@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  line-height: 1;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: 400;
}

article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.hidden,
[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

a img {
  border: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  background-clip: padding-box;
  background-color: transparent;
}

button,
html input[type='button'] {
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

input[type='checkbox'], input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
}

.clearfix {
  clear: both;
}

body,
html {
  color: #767676;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  width: 100%;
  background-color: gainsboro;
}

header .header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 42px 0 65px;
}

header .header-content .company {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .header-content .company-logo-link .company-logo {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #777777;
}

header .header-content .company-title {
  padding: 8px 0 15px 10px;
  max-width: 163px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-content .company-title .company-name {
  color: #777777;
  padding: 0;
  margin: 0;
}

header .header-content .company-title .company-description {
  display: inline-block;
  color: #777777;
  padding: 0;
  margin: 0;
}

header .header-content .numbers {
  margin-left: auto;
}

header .header-content .numbers .number {
  font-size: 40px;
  font-weight: 400;
  display: block;
  line-height: 46px;
  color: #777777;
  font-family: 'Open Sans Condensed', sans-serif;
}

header .header-content .numbers .contact-btn-wrapper {
  text-align: right;
}

header .header-content .numbers .contact-btn-wrapper .contact-btn {
  font-size: 24px;
  display: inline-block;
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  font-weight: 700;
  line-height: 33px;
  color: #767676;
  letter-spacing: 0.6px;
}

@media (max-width: 768px) {
  header .header-content {
    padding: 20px 0 20px;
  }
  header .header-content .company-logo-link .company-logo {
    width: 50px;
    height: 50px;
  }
  header .header-content .company-title {
    padding: 0 0 0 5px;
  }
  header .header-content .company-title .company-name {
    font-size: 16px;
    max-width: 130px;
    line-height: 100%;
  }
  header .header-content .company-title .company-description {
    font-size: 10px;
    line-height: 100%;
  }
  header .header-content .numbers {
    margin: 0;
  }
  header .header-content .numbers .number {
    font-size: 22px;
    line-height: 100%;
  }
  header .header-content .numbers .contact-btn-wrapper .contact-btn {
    font-size: 14px;
    line-height: 100%;
  }
}

@media (max-width: 375px) {
  header .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .numbers {
    margin-top: 20px;
  }
  header .header-content .numbers .contact-btn-wrapper {
    text-align: center;
  }
}

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #777777;
  color: #ffffff;
  letter-spacing: 0.35px;
  bottom: 0;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content .footer-left-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content .footer-center-col {
  margin-right: 116px;
}

.footer-content .footer-center-col .footer-menu {
  list-style-type: none;
  margin: 0;
  line-height: 24px;
  padding: 0;
}

.footer-content .footer-center-col .footer-menu-item .footer-menu-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content .footer-center-col {
    margin: 0;
  }
}

.footer-content .footer-right-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-content .footer-right-col .footer-company-logo {
  width: 36px;
  height: 38px;
  margin-right: 9px;
  margin-top: 5px;
}

.footer-content .footer-right-col .small-title {
  line-height: 22px;
  max-width: 180px;
  letter-spacing: 0.35px;
}

.footer-content .footer-right-col .small-title-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 550px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-content .footer-center-col {
    margin-top: 20px;
  }
  .footer-content .footer-left-col {
    margin-top: 20px;
  }
}

.navbar {
  background-color: #777777;
}

.navbar-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-list-items {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 25px 0 26px 0;
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: 100%;
  list-style-type: none;
}

.navbar-list-items .navbar-list-item {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar-list-items .navbar-list-item .navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-list-items .navbar-list-item .navbar-link:hover {
  text-decoration: underline;
}

.navbar-list-items .navbar-list-item:not(:last-child) {
  margin-right: 16px;
}

.navbar-list-items .navbar-list-item:not(:last-child)::after {
  content: '|';
  display: block;
  font-weight: 400;
  margin-left: 16px;
}

@media (max-width: 1024px) {
  .navbar-list-items {
    font-size: 22px;
    line-height: 100%;
  }
  .navbar-list-items .navbar-list-item:not(:last-child) {
    margin-right: 6px;
  }
  .navbar-list-items .navbar-list-item:not(:last-child)::after {
    margin-left: 6px;
  }
}

@media (max-width: 768px) {
  .navbar-list-items {
    font-size: 16px;
    line-height: 100%;
    padding: 26px 0 27px 0;
    margin: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-list-items .navbar-list-item:not(:last-child) {
    margin-right: 4px;
  }
  .navbar-list-items .navbar-list-item:not(:last-child)::after {
    margin-left: 4px;
  }
}

@media (max-width: 550px) {
  .navbar-list-items {
    display: none;
  }
}

.navbar-list .burger-wrapper {
  display: none;
  padding: 22px 0 23px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar-list .burger-wrapper span {
  display: block;
  width: 33px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 5px;
  border-radius: 3px;
}

@media (max-width: 550px) {
  .navbar-list .burger-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider {
  background-color: #f8f8f8;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider-images .slider-img {
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 400px;
  position: absolute;
  -o-object-position: bottom;
     object-position: bottom;
}

.slider .arrows-block-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .arrows-block-wrapper .arrows-block {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .slider .arrows-block-wrapper .arrows-block .slider-left-button {
    margin: 0;
  }
}

.slider .arrows-block-wrapper .arrows-block .slider-right-button {
  margin-right: 25px;
}

@media (max-width: 768px) {
  .slider .arrows-block-wrapper .arrows-block .slider-right-button {
    margin: 0;
  }
}

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #777777;
  color: #ffffff;
  letter-spacing: 0.35px;
  bottom: 0;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content .footer-left-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content .footer-center-col {
  margin-right: 116px;
}

.footer-content .footer-center-col .footer-menu {
  list-style-type: none;
  margin: 0;
  line-height: 24px;
  padding: 0;
}

.footer-content .footer-center-col .footer-menu-item .footer-menu-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content .footer-center-col {
    margin: 0;
  }
}

.footer-content .footer-right-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-content .footer-right-col .footer-company-logo {
  width: 36px;
  height: 38px;
  margin-right: 9px;
  margin-top: 5px;
}

.footer-content .footer-right-col .small-title {
  line-height: 22px;
  max-width: 180px;
  letter-spacing: 0.35px;
}

.footer-content .footer-right-col .small-title-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 550px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-content .footer-center-col {
    margin-top: 20px;
  }
  .footer-content .footer-left-col {
    margin-top: 20px;
  }
}

.content .categories-path-items {
  margin-top: 10px;
}

.content .categories-path-items .categories-path-item {
  letter-spacing: .35px;
  color: #8a8a8a;
  line-height: 18px;
  text-decoration: none;
}

.content .categories-path-items .categories-path-item:not(:last-child) {
  text-decoration: underline;
}

.content .categories-path-items .categories-path-item:not(:last-child)::after {
  content: '/';
  display: inline-block;
  text-decoration: none;
  padding: 0 8px 0 5px;
  color: #8a8a8a;
}

.content .main-block {
  margin-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content .main-block .main-block-left-col {
  margin-right: 22px;
  min-width: 178px;
}

.content .main-block .main-block-left-col .category-list-item {
  line-height: 30px;
}

.content .main-block .main-block-left-col .category-list-item:hover .category-list-title {
  text-decoration: underline;
}

.content .main-block .main-block-left-col .category-list-item:hover .categories-subcategory {
  display: block;
  line-height: 22px;
}

.content .main-block .main-block-left-col .category-list-title {
  font-size: 18px;
  color: #767676;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content .main-block .main-block-left-col .category-list-title {
    font-size: 16px;
  }
}

.content .main-block .main-block-left-col .categories-subcategory {
  display: none;
  list-style-type: disc;
  padding-left: 18px;
  font-size: 14px;
  margin: 0;
  color: #767676;
}

.content .main-block .main-block-left-col .categories-subcategory-item::before {
  color: #767676;
}

.content .main-block .main-block-left-col .categories-subcategory-item-link {
  color: #767676;
}

.content .main-block .main-block-left-col .categories-subcategory-item-link:hover {
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

.content .main-block .main-block-left-col .price-list {
  margin-top: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main-block .main-block-left-col .price-list-logo {
  display: block;
}

.content .main-block .main-block-left-col .price-list-title {
  display: block;
  color: #444444;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin-top: 6px;
}

@media (max-width: 550px) {
  .content .main-block .main-block-left-col .price-list {
    margin: 20px 0 20px;
  }
}

@media (max-width: 550px) {
  .content .main-block .main-block-left-col {
    margin-right: 0;
  }
}

.content .main-block .main-block-right-col {
  width: 100%;
}

.content .main-block .main-block-right-col .card-items-wrapper .card-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.content .main-block .main-block-right-col .pages {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 0 67px 0;
  letter-spacing: 7.91px;
}

.content .main-block .main-block-right-col .pages .page-item {
  display: inline-block;
  margin: 0 11px;
}

.content .main-block .main-block-right-col .pages .current-page {
  font-size: 18px;
  color: #444444;
}

.content .main-block .main-block-right-col .company-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 29px 0 202px 0;
}

.content .main-block .main-block-right-col .company-description-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content .main-block .main-block-right-col .company-description-col:not(:last-child) {
  margin-right: 39px;
  letter-spacing: 0.33px;
}

@media (max-width: 768px) {
  .content .main-block .main-block-right-col .company-description-col:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .content .main-block .main-block-right-col .company-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  .content .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.goods-card {
  padding: 16px 21px;
  -webkit-flex-basis: calc(33% - 15px);
      -ms-flex-preferred-size: calc(33% - 15px);
          flex-basis: calc(33% - 15px);
  margin: 0 7.5px 20px 7.5px;
  background-color: #dcdcdc;
}

.goods-card-photo {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 21px;
}

.goods-card .goods-card-link {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #929292;
  display: block;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .goods-card .goods-card-link {
    font-size: 14px;
  }
}

.goods-card-iteraction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-card-iteraction .goods-card-price {
  line-height: 18px;
  font-size: 28px;
  color: #444444;
  letter-spacing: 0.7px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .goods-card-iteraction .goods-card-price {
    font-size: 22px;
    line-height: 1.2;
  }
}

.goods-card-iteraction .basket-btn {
  width: 29px;
  height: auto;
  margin-right: 16px;
}

@media (max-width: 900px) {
  .goods-card {
    -webkit-flex-basis: calc(50% - 15px);
        -ms-flex-preferred-size: calc(50% - 15px);
            flex-basis: calc(50% - 15px);
  }
}

@media (max-width: 650px) {
  .goods-card {
    -webkit-flex-basis: calc(100% - 15px);
        -ms-flex-preferred-size: calc(100% - 15px);
            flex-basis: calc(100% - 15px);
  }
}

.feedback-popup-back {
  position: absolute;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  z-index: 1000;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.feedback-popup-back .feedback-popup-wrapper {
  max-width: 513px;
  width: 100%;
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  top: 284px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup {
  position: relative;
  background-color: #ffffff;
  padding: 35px 63px 26px 64px;
  width: 100%;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .close-block .close-btn {
  position: absolute;
  right: -27px;
  top: -27px;
  background-color: #777777;
  width: 27px;
  height: 27px;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .close-block .close-btn::before, .feedback-popup-back .feedback-popup-wrapper .feedback-popup .close-block .close-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 1px;
  background-color: #F0F0F0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
      -ms-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  content: '';
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .close-block .close-btn::after {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
      -ms-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1000;
  color: #535353;
  text-align: center;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form {
  margin-top: 29px;
  text-align: center;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form-label {
  color: #535353;
  font-weight: 400;
  margin-bottom: 9px;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .inputs {
  display: block;
  border: 1px solid #c3c3c3;
  width: 100%;
  padding: 12px 0 12px 13px;
  font-size: 11px;
  line-height: 100%;
  margin-bottom: 19px;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field {
  border: 1px solid #ff8383;
  -webkit-box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
          box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field::-webkit-input-placeholder {
  color: #dc7f7f;
  opacity: 1;
  font-style: italic;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field::-moz-placeholder {
  color: #dc7f7f;
  opacity: 1;
  font-style: italic;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field:-ms-input-placeholder {
  color: #dc7f7f;
  opacity: 1;
  font-style: italic;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field::-ms-input-placeholder {
  color: #dc7f7f;
  opacity: 1;
  font-style: italic;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .required-field::placeholder {
  color: #dc7f7f;
  opacity: 1;
  font-style: italic;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .input-text {
  display: block;
  height: 140px;
  border: 1px solid #c3c3c3;
  width: 100%;
  resize: none;
}

.feedback-popup-back .feedback-popup-wrapper .feedback-popup .contact-form .btn-submit {
  margin: 0 auto;
  text-transform: uppercase;
  display: block;
  color: #ffffff;
  background-color: #777777;
  margin-top: 22px;
  padding: 10px 16px 11px 17px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 590px) {
  .feedback-popup-back .feedback-popup-wrapper .feedback-popup {
    padding-left: 15px;
    padding-right: 15px;
  }
}
