@font-face {
  font-family: 'ArialMT';
  src: local('ArialMT'), url('fonts/ArialMT.ttf') format('truetype');
  src: local('ArialMT'), url('fonts/ArialMT.eot') format('eot');
  src: local('ArialMT'), url('fonts/ArialMT.woff') format('woff');
}

@font-face {
  font-family: 'Aria-BoldlMT';
  src: local('Arial-BoldMT'), url('fonts/Arial-BoldMT.ttf') format('truetype');
  src: local('Arial-BoldMT'), url('fonts/Arial-BoldMT.eot') format('eot');
  src: local('Arial-BoldMT'), url('fonts/Arial-BoldMT.woff') format('woff');
}



*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'ArialMT', sans-serif;
  line-height: 22px;
  font-size: 14px;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.container {
  margin: 0 auto;
  width: 980px;
  padding: 10px;
  margin: 0 auto;

  .header {
    display: flex;
    width: 100%;
    margin: 0;

    .header-item-left {
      background-color: gray;
      width: 122px;
      height: 108px;

      .header-logo {
        width: 100%;
        height: 100%;
      }
    }

    .header-item-center {
      width: 279px;
      background-color: gray;
      margin-left: 23px;
      margin-right: 22px;
    }

    .header-item-right {
      width: 100%;
      color: white;
      background-color: gray;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .item-right-contacts {
        margin-right: 22px;
        text-align: right;
        line-height: 22px;

        .number {
          display: block;
        }

        .header-link {
          display: block;
          color: white;
        }
      }

    }
  }

  .content {
    display: flex;

    .aside-container {
      position: relative;
      margin-right: 20px;
      color: white;
      min-width: 184px;
      line-height: 22px;
      flex: 1 1 auto;

      .aside-container-list {
        background-color: gray;
        display: block;
        padding: 19px 0 17px 13px;
        list-style-type: none;
        margin: 0;

        li {

          .container-link {
            color: white;
            text-decoration: none;

            &:active {
              font-family: 'Arial-BoldMT', sans-serif;
              font-weight: 700;
            }
          }

          .selected {
            font-family: 'Arial-BoldMT', sans-serif;
            font-weight: 700;
          }
        }
      }

      .aside-image {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 184px;
        height: 134px;
        background-color: gray;
      }
    }

    .main-container {

      .first-section {
        background-color: #dcdcdc;
        margin-bottom: 19px;
        padding: 22px 70px 20px 21px;
        color: #777777;

        &-header-title {
          margin: 0;
          padding: 0;
          color: #777777;
          font-family: 'Arial-BoldMT', sans-serif;
          font-size: 14px;
        }

        &-header-list {
          color: #777777;

          &-items {
            .highlighted {
              font-family: 'Arial-BoldMT', sans-serif;
              font-weight: 700;
              color: #777777;
            }
          }
        }
      }

      .gallery {
        width: 100%;

        .gallery-items-wrapper {
          margin-right: -23px;
          margin-left: -23px;
          display: flex;
          flex-wrap: wrap;
          padding: 0;

          .gallery-item {
            width: 134px;
            height: 150px;
            background-color: #dcdcdc;
            display: block;
            margin-left: 22px;
            margin-bottom: 18px;
          }
        }
      }

      .articles {
        display: flex;

        .articles-item {
          width: 50%;
          margin-right: 18px;

          p {
            margin: 0;
            color: gray;
          }

          &:last-child {
            margin: 0;
          }

          padding: 23px 18px 32px 18px;
          background-color: #dcdcdc;
        }
      }
    }
  }

  .footer {
    color: white;

    .footer-items {
      display: flex;
      height: 180px;

      .footer-col {
        flex: 1;
        margin-right: 28px;
        flex-wrap: wrap;

        &:last-child {
          margin-right: 0;
        }

        .footer-item-left {
          background-color: gray;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          padding-left: 25px;

          .footer-left-list {
            column-count: 2;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;

            &-item {
              color: white;
              padding: 0;
              margin: 0;
            }
          }
        }

        .footer-item-center {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: white;
          background-color: gray;

          .footer-center-list {
            margin: 0;
            padding: 0 0 0 35px;
            list-style-type: square;
          }
        }

        .footer-item-right {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-content: space-between;

          .footer-info {
            width: 100%;
            height: 100%;
            background-color: gray;
            margin-bottom: 34px;
          }

          .footer-img {
            display: block;
            width: 100%;
            height: 180px;
            background-color: gray;
          }
        }
      }
    }
  }
}