$text: #ababab;
$borderColor: #bababa;
$textDarken: #66666f;
$black: #333333;
$sliderBottomBtn: #b3b3b3;
$darkGrey: #666666;
$quotesColor: #c4c4c4;
$white: #ffffff;
$whiteDarker: #f7f7f7;
$darkBlue: #337ab7;
$lightBlue: #3498db;
$bodyfontsize: 16px;
$bodyfont: 'OpenSans', sans-serif;
$containerWidth: 1250px;
