* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"), url("./../../fonts/OpenSans-Regular.ttf") format("truetype");
  src: local("OpenSans-Regular"), url("./../../fonts/OpenSans-Regular.eot") format("eot");
  src: local("OpenSans-Regular"), url("./../../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: local("OpenSans-Italic"), url("./../../fonts/OpenSans-Italic.ttf") format("truetype");
  src: local("OpenSans-Italic"), url("./../../fonts/OpenSans-Italic.eot") format("eot");
  src: local("OpenSans-Italic"), url("./../../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: local("OpenSans-Bold"), url("./../../fonts/OpenSans-Bold.ttf") format("truetype");
  src: local("OpenSans-Bold"), url("./../../fonts/OpenSans-Bold.eot") format("eot");
  src: local("OpenSans-Bold"), url("./../../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: local("OpenSans-Light"), url("./../../fonts/OpenSans-Light.ttf") format("truetype");
  src: local("OpenSans-Light"), url("./../../fonts/OpenSans-Light.eot") format("eot");
  src: local("OpenSans-Light"), url("./../../fonts/OpenSans-Light.woff") format("woff");
}

body {
  color: #ababab;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.header .navbar {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .school-logo {
  width: 80px;
  height: 80px;
}

@media (max-width: 768px) {
  .header .navbar .school-logo {
    width: 60px;
    height: 60px;
  }
}

.header .navbar .navbar-list {
  list-style-type: none;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar-list-item-link {
  padding: 10px 17px;
  text-decoration: none;
  color: #66666f;
  display: inline-block;
}

.header .navbar .navbar-list-item-link:hover {
  color: #367cb8;
  background-color: #eeeeee;
}

@media (max-width: 1024px) {
  .header .navbar .navbar-list-item-link {
    padding: 10px 8px;
  }
}

@media (max-width: 768px) {
  .header .navbar .navbar-list-item-link {
    padding: 10px 17px;
  }
}

.header .navbar .navbar-list-item .highlighted-navbar-item {
  border-radius: 25px;
  background-color: #337ab7;
  color: #ffffff;
}

.header .navbar .navbar-list-item .highlighted-navbar-item:hover {
  background-color: #286090;
}

@media (max-width: 768px) {
  .header .navbar .navbar-list {
    display: none;
  }
}

.header .navbar-toggle {
  display: none;
  border: 0;
  background-color: #337ab7;
  padding: 9px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.header .navbar-toggle .icon-bar {
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 22px;
}

.header .navbar-toggle :not(:last-child) {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .header .navbar-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    padding: 5px 0;
  }
}

.copyright-wrapper {
  padding: 50px 0 51px;
  background-color: #f7f7f7;
  font-family: "OpenSans-Light", sans-serif;
}

.copyright-wrapper .copyright {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.copyright-wrapper .copyright-title {
  color: #3498db;
  margin-bottom: 18px;
}

.copyright-wrapper .copyright-title .copyright-sign {
  display: inline-block;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .copyright-wrapper .copyright-title {
    margin-bottom: 5px;
  }
}

.copyright-wrapper .copyright .privacy-link {
  color: #939393;
  text-decoration: none;
}

.copyright-wrapper .copyright .privacy-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .copyright-wrapper .copyright {
    font-size: 14px;
  }
}

.course-registration {
  background-color: #f7f7f7;
}

.course-registration .course-registration-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0 30px 0;
}

.course-registration .course-registration-block .course-registration-article {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-bottom: 92px;
}

.course-registration .course-registration-block .course-registration-article-title {
  color: #333333;
  padding: 0;
  margin: 0 0 28px 0;
  text-align: center;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .course-registration .course-registration-block .course-registration-article-title {
    font-size: 22px;
  }
}

.course-registration .course-registration-block .course-registration-article-text {
  padding: 0 65px 0 65px;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  font-family: "OpenSans-Light", sans-serif;
  color: #333333;
}

@media (max-width: 768px) {
  .course-registration .course-registration-block .course-registration-article-text {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .course-registration .course-registration-block .course-registration-article-text {
    padding: 0;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block .course-registration-article {
    margin-bottom: 60px;
  }
}

.course-registration .course-registration-block .registration-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 590px;
}

.course-registration .course-registration-block .registration-block .registration-form-title {
  font-size: 22px;
  color: #333333;
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block .registration-block .registration-form-title {
    text-align: center;
  }
}

.course-registration .course-registration-block .registration-block .registration-form .form-label {
  line-height: 100%;
  color: #333333;
  display: block;
  position: relative;
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 700;
  margin: 13px 0 5px 0;
}

.course-registration .course-registration-block .registration-block .registration-form .form-label::after {
  content: '';
  background: url(./../../img/icons/required.png) no-repeat center;
  position: absolute;
  top: 60%;
  margin-left: 3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 7px;
}

.course-registration .course-registration-block .registration-block .registration-form .form-input {
  font-size: 14px;
  display: block;
  width: 100%;
  line-height: 100%;
  padding: 16px 0 16px 15px;
  border: 1px solid #bababa;
  letter-spacing: 0.5px;
  border-radius: 4px;
  font-family: "OpenSans-Light", sans-serif;
}

.course-registration .course-registration-block .registration-block .registration-form .form-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block .registration-block .registration-form .form-input {
    padding: 11px 0 11px 10px;
  }
}

.course-registration .course-registration-block .registration-block .registration-form .policy-accept {
  margin-top: 22px;
}

.course-registration .course-registration-block .registration-block .registration-form .policy-accept-checkbox {
  margin-right: 6px;
}

.course-registration .course-registration-block .registration-block .registration-form .policy-accept-text {
  position: relative;
}

.course-registration .course-registration-block .registration-block .registration-form .policy-accept-text-highlighted {
  color: #337ab7;
}

.course-registration .course-registration-block .registration-block .registration-form .policy-accept-text::after {
  content: '';
  background: url(./../../img/icons/required.png) no-repeat center;
  position: absolute;
  top: 60%;
  margin-left: 3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 7px;
}

.course-registration .course-registration-block .registration-block .registration-form .submit-block {
  text-align: center;
}

.course-registration .course-registration-block .registration-block .registration-form .submit-block .submit-btn {
  cursor: pointer;
  background-color: #337ab7;
  margin-top: 35px;
  border: 0;
  text-transform: uppercase;
  padding: 20px 70px;
  color: #ffffff;
  border: 1px solid #2e6da4;
  border-radius: 25px;
}

.course-registration .course-registration-block .registration-block .registration-form .submit-block .submit-btn:hover {
  background-color: #286090;
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block .registration-block .registration-form .submit-block .submit-btn {
    padding: 20px 50px;
  }
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block .registration-block {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .course-registration .course-registration-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts {
  background-color: #3498db;
  padding: 40px 0 44px 0;
}

.contacts-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.contacts-list .contacts-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.contacts-list .contacts-block .contacts-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.contacts-list .contacts-block .contacts-logo path {
  background-color: red;
  color: green;
  fill: #fff;
}

@media (max-width: 768px) {
  .contacts-list .contacts-block {
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-top: 20px;
  }
}

.contacts-list .contacts-title {
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.contacts-list .contacts-info {
  font-family: "OpenSans-Light", sans-serif;
}

@media (max-width: 768px) {
  .contacts-list .contacts-info {
    font-size: 10px;
  }
}

.contacts-list .contacts-info-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .contacts-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 10px 0 30px 0;
  }
}

.map {
  line-height: 0;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
}

.video {
  background-color: #f7f7f7;
  padding: 71px 0 60px 0;
}

.video-info {
  margin-top: 28px;
  font-family: "OpenSans-Light", sans-serif;
  letter-spacing: 0.8px;
  color: #6f6a73;
  text-align: center;
  line-height: 150%;
}

@media (max-width: 768px) {
  .video-info {
    font-size: 14px;
  }
}

.video-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
  margin-top: 31px;
}

.video-frame .youtube {
  width: 1020px;
  height: calc(1020px / (16 / 9));
}

@media (max-width: 1020px) {
  .video-frame {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .video-frame .youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.students-reviews {
  padding-top: 76px;
  padding-bottom: 40px;
  text-align: center;
}

.students-reviews .slider-item .students-reviews-text {
  font-size: 22px;
  line-height: 34px;
  padding: 0 49px;
  margin: 38px 123px 42px 123px;
  font-family: "OpenSans-Light", sans-serif;
  color: #666666;
  position: relative;
}

.students-reviews .slider-item .students-reviews-text::before, .students-reviews .slider-item .students-reviews-text::after {
  width: 30px;
  height: 27px;
  content: '';
  position: absolute;
}

@media (max-width: 768px) {
  .students-reviews .slider-item .students-reviews-text::before, .students-reviews .slider-item .students-reviews-text::after {
    width: 14px;
    height: 22px;
  }
}

.students-reviews .slider-item .students-reviews-text::before {
  background: url(./../../img/quote-left-solid.svg) no-repeat center;
  top: 0;
  left: 0;
}

.students-reviews .slider-item .students-reviews-text::after {
  background: url(./../../img/quote-right-solid.svg) no-repeat center;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .students-reviews .slider-item .students-reviews-text {
    padding: 0 20px;
    font-size: 14px;
    line-height: 120%;
    margin: 10px 0 10px 0;
  }
}

.students-reviews .slider-item .review-author-name {
  color: #333333;
  line-height: 100%;
  margin-bottom: 10px;
}

.students-reviews .slider-item .review-author-position {
  font-style: italic;
  font-family: "OpenSans-Light", sans-serif;
  line-height: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .students-reviews .slider-item .review-author-position {
    margin-bottom: 20px;
  }
}

.course-about {
  padding: 76px 0 94px 0;
}

.course-about-title {
  margin-bottom: 39px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
}

.course-about-title .course-name {
  position: relative;
}

@media (max-width: 768px) {
  .course-about-title {
    font-size: 24px;
  }
}

.course-about-items {
  margin: 0 28px;
}

.course-about-items .course-about-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.course-about-items .course-about-item:not(:last-child) {
  margin-right: 70px;
}

@media (max-width: 1024px) {
  .course-about-items .course-about-item:not(:last-child) {
    margin: 0;
  }
}

.course-about-items .course-about-item .course-about-study-block-icon {
  display: block;
  margin: 0 auto 30px;
}

.course-about-items .course-about-item .course-about-study-block-title {
  color: #666666;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin: 0 0 36px 0;
  padding: 0 0 18px 0;
  display: inline-block;
  border-bottom: 1px solid #337ab7;
}

@media (max-width: 768px) {
  .course-about-items .course-about-item .course-about-study-block-title {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .course-about-items .course-about-item .course-about-study-block-title {
    font-size: 16px;
    line-height: 100%;
  }
}

.course-about-items .course-about-item .course-about-study-block-description {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-family: "OpenSans-Light", sans-serif;
}

@media (max-width: 768px) {
  .course-about-items .course-about-item .course-about-study-block-description {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .course-about-items .course-about-item {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .course-about-items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.statistics {
  background-color: #3498db;
  padding: 80px 0 86px 0;
  color: #ffffff;
}

.statistics .course-statistics-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics .course-statistics-items .course-statistics-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  line-height: 100%;
}

@media (max-width: 768px) {
  .statistics .course-statistics-items .course-statistics-item {
    -webkit-box-flex: 50%;
    -webkit-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-top: 20px;
  }
}

.statistics .course-statistics-items .course-statistics-item-icon {
  width: 85px;
  height: 60px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .statistics .course-statistics-items .course-statistics-item-icon {
    margin-bottom: 16px;
  }
}

.statistics .course-statistics-items .course-statistics-item-number {
  font-size: 24px;
  margin-bottom: 22px;
}

@media (max-width: 768px) {
  .statistics .course-statistics-items .course-statistics-item-number {
    margin-bottom: 12px;
  }
}

.statistics .course-statistics-items .course-statistics-item-text {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 100;
}

@media (max-width: 768px) {
  .statistics .course-statistics-items .course-statistics-item-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .statistics .course-statistics-items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .statistics {
    padding: 10px 0 30px 0;
  }
}

.course-mentors {
  padding: 71px 0 66px 0;
}

.course-mentors .slider-items .slider-item .course-mentors-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-photo-wrapper {
  margin: 0 70px;
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-photo-wrapper .mentor-photo {
  max-width: 342px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .course-mentors .slider-items .slider-item .course-mentors-block .mentor-photo-wrapper .mentor-photo {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .course-mentors .slider-items .slider-item .course-mentors-block .mentor-photo-wrapper {
    margin: 0;
  }
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-info {
  padding: 30px 12px 0 30px;
  line-height: 160%;
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentor-name {
  color: #3498db;
  font-size: 20px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentor-name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentors-horizontal-line {
  height: 1px;
  color: #f7f7f7;
  display: block;
  border: 0;
  background-color: #f7f7f7;
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentor-about-wrapper {
  margin-top: 30px;
}

.course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentor-about-wrapper .mentor-about:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .course-mentors .slider-items .slider-item .course-mentors-block .mentor-info .mentor-about-wrapper {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .course-mentors .slider-items .slider-item .course-mentors-block .mentor-info {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .course-mentors .slider-items .slider-item .course-mentors-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .course-mentors {
    padding: 30px 0 15px 0;
  }
}

.section-title {
  margin: 0;
  color: #333333;
  padding: 0;
  text-align: center;
  font-size: 34px;
  font-family: "OpenSans-Light", sans-serif;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
}

.navbar-menu-toggle {
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  background: #ffffff;
  width: 100%;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar-menu-toggle .navbar-list-item {
  text-align: center;
}
